html {
	height: 100%;
	position: relative;
	min-height: 100%;
}

* {
	margin: 0;
}

body {
	height: 100%;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif; 
	color: #777777;
	background-color: #ffffff;
	min-height: 100%;
	background-image: url("../images/cork-wallet.png");
}

section {
	font-family: 'Georgia', Times, Times New Roman, serif;
	
}

.nav {
	background-color: #ffffff;
	padding: 0px 130px 70px 130px;
	border-bottom: #cccccc;
	border-bottom-style: solid;
}

.header {
	float: left;
	position: absolute;
	left: 152.5px;
	width: 250px;
	height: 70px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 19.920px 0px;
}

ul {
	float: right;
	list-style-type: none;
	padding: 20px 5px 20px 5px;
	color: #777777;
	margin:0px;
	position: absolute;
	right: 152.5px;
	width: 250px;
	text-align: center;
}

li {
	margin: 0px 15px;
	float: left;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -16px;
	clear: both;
	margin: 20px 152.5px 0px 152.5px;
	line-height: 210%;
}

.aboutme {
	float: left;
	padding: 10px 42px 10px 30px;
	margin: 0px 22px 30px 0px;
	border: #dddddd;
	border-style: solid;
	width: 550px;
	background-color: white;
}

.sidebar {
	float: right;
	background-color: white;
	text-align: center;
	padding: 10px 19px 30px 19px;
	border: #dddddd;
	border-style: solid;
	width: 228px;
}

h2 { 
	color: #4aaaa5;
	border-bottom-color: #dddddd;
	border-bottom-style: solid;
	padding: 0px 0px 10px 0px;
	margin: 15px 0px;
	border-width: 3px;
	font-size: 24px;
 }

 h3 {
 	color: #4aaaa5;
 	border-bottom-color: #dddddd;
 	border-bottom-style: solid;
 	padding: 0px 0px 10px 0px;
 	margin: 15px 0px;
 	border-width: 3px;
 	font-size: 18px; 
 }

 #adammontreal {
 	float: left;
 	padding: 0px 20px 10px 0px;
 	width: 200px;
 }

.div-image {
	float: left;
 	margin: 10px 25px 30px 0px;
 	width: 250px;
 	height: 200px;
}

.text-in-image {
	position: absolute;
	width: 250px;
	margin: 150px 0px;
	padding: 5px 0px;
	text-align: center;
	background-color: #4aaaa5;
	color: #ffffff;
}

#pic-size {
	float: left;
	width: 250px;
 	height: 200px;
}

.name {
	width: 550px;
	padding: 5px 0px 5px 5px;
	
}

.email {
	width: 550px;
	padding: 5px 0px 5px 5px;
}

.message {
	width: 550px;
	height: 200px;
	border-color: #cccccc;
}

.submit {
	width: 100px;
	padding: 10px 0px;
	margin: 5px 0px;
	font-size: 16px;
}

 .iconpics {
 	padding: 2px 5px 2px 5px;
 	width: 50px;
 	align-items: center;
}

 a {
 	color: inherit;
}

 .push {
 	clear: both;
 	height: 16px;
}

.footer {
	height: 16px;
	clear: both;
	color: #777777;
	margin-top: 20px;
	padding: 10px 0px 10px 0px;
	border-top: #4aaaa5;
	border-top-style: solid;
	border-top-width: thick;
	background-color: #666666;
	text-align: center;
}